{% extends 'base.html' %}


{% block content %}

<h1 style="text-align: center">Emobilis</h1>
    <img src="https://www.emobilis.ac.ke/images/sliders/slidera3.jpg">
      <h1 style="text-align: center">Welcome to emobilis training institute</h1>
<h3 style="text-align: center">WE HAVE TRAINED THE BEST AND FOR COMPANIES LIKE</h3>
            <div style="padding-left:450px">
                <img src="https://www.emobilis.ac.ke/images/logos/google.png"  style="width: 200px;">
               <img src="https://www.emobilis.ac.ke/images/logos/safaricom.png" style="width: 200px;">
                <img src="https://www.emobilis.ac.ke/images/logos/microsoft.png" style="width: 200px;">
                <img src="https://www.emobilis.ac.ke/images/logos/knatcom.png" style="width: 200px;">
            </div>
       <div>
           <p style="text-align: center">Regardless of your background, you can acquire digital skills that are in demand by employers and clients.<br>
               Web and app developers have some of the highest-paying jobs that don't require a college degree. Join eMobilis,<br>
               the leading software development school in Nairobi, and learn web & mobile app development among other useful digital skills. </p>
       </div>



{% endblock %}
